---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {% comment %}Feature image only from front matter{% endcomment %}
    {% if post.image %}
      <a href="{{ post.url | relative_url }}"><img class="post-feature" src="{{ post.image | relative_url }}" alt="{{ post.title }}" /></a>
    {% endif %}

    {{ post.excerpt | strip_html }}
    <a href="{{ post.url | relative_url }}">Read more &rarr;</a>
  </div>
  {% endfor %}
</div>